<?xml version="1.0" encoding="utf-8" ?>
<definitions>
    <reader>PathReader</reader>
    <route>
        <parser>
            <format>XML</format>
        </parser>
        <file><![CDATA[__DIR__.'/../apps/{appName}/config/routes.xml]]></file>
    </route>
    <http>
        <response>
            <format>html</format>
        </response>
    </http>
    <template>
        <layout><![CDATA[__DIR__.'/../apps/{appName}/templates/layout.php]]></layout>
        <view><![CDATA[__DIR__.'/../apps/{appName}/{module}/views/{view}.php]]></view>
    </template>
</definitions>